.body{
    margin: 0;
}

.container{
    margin: 0px 45px;
}

.header{
    background-color: white;
}

.header-line{
    display: flex;
    align-items: center;
}

.h{
    color: black;
    margin-right: 50px;
    font-family: 'Montserrat Alternates', sans-serif;
}

.nav-item{
    color: black;
    text-decoration: none;
    margin-right: 25px;
    font-family: 'Montserrat Alternates', sans-serif;
}

.nav{
    color: black;
    text-decoration: none;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 10pt;
    margin-left: 50%;
}

.autorization{
    color: black;
    text-decoration: none;
    font-family: 'Montserrat Alternates', sans-serif;
    margin-left: 36%;
}

.nav:hover, .autorization:hover, .nav-item:hover{
    color: Peru;
}

.header-down{
    height: 494px;
    background-size: 100%;    
    background-image: url(paper-style-white-monochrome-background_52683-66443.jpg);
}

.person{
    position: absolute;
    top: 50%;
    left: 87%;
}

.footer{
    background-color: white
}

.foot{
    margin-left: 50px;
    color: black;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 10pt;
}

.table{
    position: absolute;
    top: 17%;
    left: 1%;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 11pt;
}

.table_2{
    position: absolute;
    top: 37%;
    left: 1%;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 11pt;
}

caption{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 13pt;
}